@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 26, 28);
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header {
     background-color: rgba(44, 45, 53, 0.5);
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.search {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.829);
    border-radius: 50px;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.search::placeholder {
    color: rgba(171, 171, 173, 0.5);
}

.search:focus {
    background-color: rgba(54, 55, 65, 0.5);
    outline: none;
}


.title{
    margin: 40px 0;
    font-size:4rem;
    text-align:center;
    color:rgba(238, 238, 238, 0.781);

}

/* make main display as flex continer and center elemnt inside it  */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.movie {
    background-color: rgba(56, 57, 66, 0.5);
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 300px;
}

.movie img {
    width: 100%;
}

.movie-info {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: rgb(26, 26, 28);
    border-radius: 3px;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
}

.date{
        /* padding: 0.25rem 0.5rem; */
        padding-left:1rem;
        padding-bottom:1rem;

        color:#eee;

}

@media screen and(max-width: 500px){
    .title{
        font-size: 2.5rem;
    }
    
}
/* .overview {
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    max-height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h3 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
} */